n8n/worksheet-generator-workflow.json
{
  "name": "Miss Laura Worksheet Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "worksheet-generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "worksheet-generate",
      "credentials": {
        "httpHeaderAuth": {
          "id": "api-key-auth",
          "name": "Miss Laura API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.headers['x-api-key'] }}",
              "value2": "={{ $credentials.apiKey }}"
            }
          ]
        }
      },
      "id": "auth-check",
      "name": "Validate API Key",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Unauthorized - Invalid API Key"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 401
            }
          ]
        },
        "options": {}
      },
      "id": "auth-error",
      "name": "Auth Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate request body\nconst body = $input.all()[0].json.body;\n\n// Required fields validation\nconst requiredFields = ['curriculum', 'grade', 'skill', 'theme'];\nconst missingFields = requiredFields.filter(field => !body[field]);\n\nif (missingFields.length > 0) {\n  return {\n    json: {\n      success: false,\n      error: `Missing required fields: ${missingFields.join(', ')}`,\n      statusCode: 400\n    }\n  };\n}\n\n// Build the AI prompt\nconst { curriculum, grade, ageGroup, skill, theme, questionCount = 8, schoolId, userId, requestId } = body;\n\nconst prompt = `You are an expert educational content creator for ${curriculum} curriculum.\n\nCreate a worksheet for:\n- Grade Level: ${grade}\n- Age Group: ${ageGroup || '5-7 years'}\n- Skill: ${skill}\n- Theme: ${theme}\n\nGenerate exactly ${questionCount} age-appropriate questions or activities.\n\nIMPORTANT: Return ONLY valid JSON with this exact structure, no markdown, no explanation:\n{\n  \"title\": \"Engaging worksheet title related to the theme\",\n  \"instructions\": \"Clear instructions for the student\",\n  \"questions\": [\n    {\n      \"type\": \"multiple-choice|fill-blank|matching|tracing|counting|circle|draw\",\n      \"question\": \"The question or instruction text\",\n      \"options\": [\"A\", \"B\", \"C\", \"D\"],\n      \"correctAnswer\": \"A\",\n      \"imageUrl\": null\n    }\n  ],\n  \"footer\": \"Optional footer text\"\n}\n\nMake questions fun, engaging, and appropriate for the age group.\nFor preschool/KG: focus on tracing, matching, circling, counting with visuals.\nFor grades 1-2: simple sentences, basic math, word problems.\nFor grades 3-5: complex sentences, multi-step problems, critical thinking.`;\n\nreturn {\n  json: {\n    prompt,\n    originalRequest: body,\n    schoolId: schoolId || null,\n    userId: userId || null,\n    requestId: requestId || null\n  }\n};"
      },
      "id": "build-prompt",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an expert educational content creator. You MUST respond with ONLY valid JSON, no markdown formatting, no code blocks, no explanations. Just pure JSON."
            },
            {
              "role": "user",
              "content": "={{ $json.prompt }}"
            }
          ]
        }
      },
      "id": "ai-call",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract usage data from OpenAI response\nconst aiResponse = $input.all()[0].json;\nconst originalData = $('Build AI Prompt').first().json;\n\n// OpenAI response structure varies by n8n version\n// Try multiple paths to find usage data\nconst usage = aiResponse.usage || \n             aiResponse.raw?.usage ||\n             aiResponse.data?.usage ||\n             { input_tokens: 0, output_tokens: 0, total_tokens: 0 };\n\n// Extract token counts (OpenAI uses different field names)\nconst inputTokens = usage.prompt_tokens || usage.input_tokens || 0;\nconst outputTokens = usage.completion_tokens || usage.output_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\n// Get model name\nconst model = aiResponse.model || 'gpt-4o-mini';\n\n// Get content\nconst content = aiResponse.message?.content || \n                aiResponse.choices?.[0]?.message?.content ||\n                aiResponse.content;\n\nreturn {\n  json: {\n    content,\n    usage: {\n      inputTokens,\n      outputTokens,\n      totalTokens\n    },\n    model,\n    schoolId: originalData.schoolId,\n    userId: originalData.userId,\n    requestId: originalData.requestId,\n    originalRequest: originalData.originalRequest\n  }\n};"
      },
      "id": "extract-usage",
      "name": "Extract Usage Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate AI response\nconst aiData = $input.all()[0].json;\nconst aiResponse = aiData.content;\nconst originalRequest = aiData.originalRequest;\nconst usage = aiData.usage;\nconst model = aiData.model;\n\nlet parsedContent;\nlet error = null;\n\ntry {\n  // Clean the response - remove markdown code blocks if present\n  let cleanedResponse = aiResponse.trim();\n  \n  // Remove markdown code blocks\n  cleanedResponse = cleanedResponse.replace(/^```json\\s*/i, '');\n  cleanedResponse = cleanedResponse.replace(/^```\\s*/i, '');\n  cleanedResponse = cleanedResponse.replace(/\\s*```$/i, '');\n  \n  parsedContent = JSON.parse(cleanedResponse);\n  \n  // Validate required fields\n  if (!parsedContent.title || typeof parsedContent.title !== 'string') {\n    throw new Error('Invalid or missing title');\n  }\n  \n  if (!parsedContent.instructions || typeof parsedContent.instructions !== 'string') {\n    throw new Error('Invalid or missing instructions');\n  }\n  \n  if (!Array.isArray(parsedContent.questions) || parsedContent.questions.length === 0) {\n    throw new Error('Invalid or missing questions array');\n  }\n  \n  // Validate each question\n  parsedContent.questions = parsedContent.questions.map((q, index) => {\n    if (!q.question || typeof q.question !== 'string') {\n      throw new Error(`Question ${index + 1} is invalid`);\n    }\n    \n    return {\n      type: q.type || 'multiple-choice',\n      question: q.question,\n      options: Array.isArray(q.options) ? q.options : [],\n      correctAnswer: q.correctAnswer || null,\n      imageUrl: q.imageUrl || null\n    };\n  });\n  \n} catch (e) {\n  error = `Failed to parse AI response: ${e.message}`;\n  console.error('JSON Parse Error:', e);\n  console.error('Raw response:', aiResponse);\n}\n\nif (error) {\n  return {\n    json: {\n      success: false,\n      error,\n      rawResponse: aiResponse,\n      statusCode: 422,\n      usage,\n      model,\n      schoolId: aiData.schoolId,\n      userId: aiData.userId,\n      requestId: aiData.requestId\n    }\n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    content: {\n      title: parsedContent.title,\n      instructions: parsedContent.instructions,\n      questions: parsedContent.questions,\n      footer: parsedContent.footer || `${originalRequest.curriculum} - ${originalRequest.grade}`\n    },\n    metadata: {\n      curriculum: originalRequest.curriculum,\n      grade: originalRequest.grade,\n      skill: originalRequest.skill,\n      theme: originalRequest.theme,\n      generatedAt: new Date().toISOString(),\n      questionCount: parsedContent.questions.length\n    },\n    usage,\n    model,\n    schoolId: aiData.schoolId,\n    userId: aiData.userId,\n    requestId: aiData.requestId\n  }\n};"
      },
      "id": "validate-json",
      "name": "Validate JSON Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MISS_LAURA_API_URL || 'http://localhost:5000' }}/api/ai-usage/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schoolId",
              "value": "={{ $json.schoolId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "feature",
              "value": "worksheet_generation"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "inputTokens",
              "value": "={{ $json.usage.inputTokens }}"
            },
            {
              "name": "outputTokens",
              "value": "={{ $json.usage.outputTokens }}"
            },
            {
              "name": "totalTokens",
              "value": "={{ $json.usage.totalTokens }}"
            },
            {
              "name": "requestId",
              "value": "={{ $json.requestId }}"
            },
            {
              "name": "source",
              "value": "ai"
            }
          ]
        },
        "options": {}
      },
      "id": "log-usage",
      "name": "Log AI Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-api-key",
          "name": "Miss Laura Internal API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Return the final response, removing internal tracking data\nconst data = $input.all()[0].json;\nconst validatedData = $('Validate JSON Response').first().json;\n\nreturn {\n  json: {\n    success: true,\n    content: validatedData.content,\n    metadata: validatedData.metadata\n  }\n};"
      },
      "id": "final-response",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.statusCode || 500 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 450]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "false"
            },
            {
              "name": "error",
              "value": "AI service temporarily unavailable. Please try again."
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": 503
            }
          ]
        },
        "options": {}
      },
      "id": "ai-error",
      "name": "AI Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [850, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MISS_LAURA_API_URL || 'http://localhost:5000' }}/api/ai-usage/log",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schoolId",
              "value": "={{ $json.schoolId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "feature",
              "value": "worksheet_generation"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "inputTokens",
              "value": "={{ $json.usage?.inputTokens || 0 }}"
            },
            {
              "name": "outputTokens",
              "value": "={{ $json.usage?.outputTokens || 0 }}"
            },
            {
              "name": "totalTokens",
              "value": "={{ $json.usage?.totalTokens || 0 }}"
            },
            {
              "name": "requestId",
              "value": "={{ $json.requestId }}"
            },
            {
              "name": "source",
              "value": "ai"
            },
            {
              "name": "metadata",
              "value": "={{ { error: $json.error } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-error-usage",
      "name": "Log Error Usage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-api-key",
          "name": "Miss Laura Internal API Key"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate API Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate API Key": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Error Response": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Extract Usage Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Usage Data": {
      "main": [
        [
          {
            "node": "Validate JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JSON Response": {
      "main": [
        [
          {
            "node": "Log AI Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log AI Usage": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Error Response": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Usage": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-19T00:00:00.000Z",
  "versionId": "2"
}
